@import "tailwindcss";


/* sakriva horizontalni scrollbar u svim browserima */
.no-scrollbar {
    -ms-overflow-style: none; /* IE i Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  


  
 